body{
    background-color: #f7cfa1;
}

#menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 200px;
    position: relative;
    align-items: stretch;
    height: 100vh;
    background-color: saddlebrown;
}
#menu li{
    border-left: 10px solid saddlebrown;
    border-bottom: 1px solid sienna;
    background-color: chocolate;
    min-height: 50px;
    text-align: center;
    color: wheat;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}
#menu li:hover{
    background-color: #666;
    border-left: 10px solid sandybrown;
}

#buttons{
    top: -585px;
    margin-left: 40%;
    padding: 0;
    list-style-type: none;
    border: 2px solid saddlebrown;
    border-radius: 20px;
    position: relative;
    background-color: chocolate;
    width: 400px;
    text-align: center;
    cursor: pointer;
}

#buttons li{
    display: inline-block;
    padding: 5px;
    color:wheat;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
}

#tableCity{
    margin-left: 50%;
}

#tableTalking{
    margin-left: 25%;
}

#tableTarif{
    margin-left: 30%;
}

#formCity{
    z-index: 100;
    position:absolute;
    margin-left: 40%;
    top: 130px;
    font-size: 20px;
    width:500px;
    height:120px;
    background: chocolate;
}

#fieldCity{
    position:relative;
    top: -10px;
    width:inherit;
    height:100px;
    background:#FFE4B5;
}

#titleFormCity{
    position:relative;
    left: 10px;
}

.close {
    cursor: pointer;
    position: relative;
    top:-10px;
    display: block;
    width: 20px;
    height: 20px;
    color: #0000CC;
    text-decoration: none;
    border: solid 1px #777777;
    border-right: solid 2px #777777;
    border-bottom: solid 2px #777777;
    text-align: center;
    font-size: 20px;
    float: right;

}

.buttonOk{
    font-size: 20px;
    width: 60px;
    height: 40px;
    background-color: #FF6347;
}
.selected{
    background-color: #ddd;
}
table{
    position: relative;
    top: -600px;
    margin-left: 38%;
    font-family: "Lucida Sans Unicode", Sans-Serif;
    font-size: 20px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    cursor: pointer;
}
th {
    background: #FF6347;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: saddlebrown;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

tr{
    background: #F8E391;
}
td {
    padding: 10px 20px;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}