body{
    background-color: #f7cfa1;
}

#menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 200px;
    position: relative;
    align-items: stretch;
    height: 100vh;
    background-color: saddlebrown;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#menu li{
    border-left: 10px solid saddlebrown;
    border-bottom: 1px solid sienna;
    background-color: chocolate;
    min-height: 50px;
    text-align: center;
    color: wheat;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}
#menu li:hover{
    background-color: #666;
    border-left: 10px solid sandybrown;
}

#buttons{
    top: -510px;
    margin-left: 40%;
    padding: 0;
    list-style-type: none;
    border: 2px solid saddlebrown;
    border-radius: 20px;
    position: relative;
    background-color: chocolate;
    width: 400px;
    text-align: center;
    cursor: pointer;
}

#buttons li{
    display: inline-block;
    padding: 5px;
    color:wheat;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
}

#buttons li:hover{
    background-color:  #666;
}

#tableCity{
    margin-left: 47%;
}

#tableTalking{
    margin-left: 25%;
}

#tableTarif{
    margin-left: 30%;
}

.selected{
    background-color: #ddd;
}
table{
    position: relative;
    top: -490px;
    margin-left: 38%;
    font-family: "Lucida Sans Unicode", Sans-Serif;
    font-size: 20px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    cursor: pointer;
}
th {
    background: #FF7F50;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: saddlebrown;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

tr{
    background: #F8E391;
}
td {
    padding: 10px 20px;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}

.baseForm{
    z-index: 100;
    position:absolute;
    margin-left: 40%;
    top: 130px;
    font-size: 20px;
    width:335px;
    height:120px;
    background: #DCDCDC;
    border-radius: 10px;
}

.form{
    width:inherit;
    height:100px;
    background:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titleForm{
    position:relative;
    left: 10px;
    color: #808080;
}

.close {
    background-image: url(images/close.png);
    width:22px;
    height: 22px;
    position: absolute;
    background-size: contain;
    right: 1px;
    top: 1px;
    border-radius: 6px;
    cursor: pointer;
}

.close:hover{
    opacity: 0.5;
}

.field{
    position: relative;
    top: 5px;
    left: 10px;
    width: 150px;
    height: 25px;
}

.input{
    position: absolute;
    left: 150px;
    top: 30px;
}

.buttonOk{
    position: absolute;
    top: 65px;
    left: 150px;
    font-size: 20px;
    width: 60px;
    height: 40px;
    background-color: #DCDCDC;
    cursor:pointer;
    border-radius: 10px;
}

.buttonOk:hover{
    opacity: 0.5;
}

.error{
    background-color: red;
}

#formAbonent{
    width: 60px;
}

.checkbox{
    position: absolute;
    left: 105px;
    top: 115px;
    width: 25px;
    height: 25px;
}

.inputFiltr{
    position: relative;
    top: -32px;
    left: 160px;
    width: 150px;
    height: 30px;
 }

.fieldFiltr{
    position: relative;
    width: 150px;
    height: 25px;
}
.buttonOkFiltr{
    position: relative;
    top: -30px;
    left: 170px;
    width: 60px;
    height: 40px;
    font-size: 20px;
    background-color: #FF7F50;
    cursor:pointer;
    border-radius: 10px;
}

.buttonOkFiltr:hover{
    opacity: 0.5;
}

.filtr{
    font-size: 20px;
    position: absolute;
    top: 65px;
    left: 390px;
    width: 1000px;
    height: 200px;
}

.mainPage{
    margin-left: 30%;
    margin-top: 10%;
}

.page{
    width: 200px;
    padding-top: 20px;
    padding-left: 150px;
    text-align: center;
    font-size: 40px;
    color: sienna;
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;
}

.titleMainPage{
    font-size: 50px;
    text-transform: uppercase;
    color:  #402a55;
    position: absolute;
    top: 10%;
    left: 25%;
}

.impPhone{
    position: absolute;
    width:320px;
    height:300px;
    top: 30%;
    background-image: url(images/imgPhone.png);
    background-size: cover;
}
